{%- assign selected_variant = product.variants.first -%}
{% assign customizer_fields = product.metafields.customizer %}


<div class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %}">
  {%- if section.settings.enable_image_zoom -%}
    <div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
  {%- endif -%}

  <div class="card__section">
    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT META
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- if section.settings.show_share_buttons -%}
      {%- capture share_buttons -%}
        {%- assign share_url = shop.url | append: product.url -%}
        {%- assign twitter_text = product.title | url_param_escape -%}
        {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
        {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

        <ul class="social-media__item-list list--unstyled">
          <li class="social-media__item social-media__item--facebook">
            <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
          </li>

          <li class="social-media__item social-media__item--pinterest">
            <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
          </li>

          <li class="social-media__item social-media__item--twitter">
            <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
          </li>

          <li class="social-media__item">
            <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
          </li>
        </ul>
      {%- endcapture -%}
    {%- endif -%}

    <div class="product-meta">

      {%- if template.name == 'product' and template != 'product.quick-view' -%}
        <h2 class="product-meta__title heading h2">{{ product.title }}</h2>
      {%- else -%}
        <h3 class="product-meta__title heading h2">
          <a href="{{ product.url }}">{{ product.title }}</a>
        </h3>      
      {%- endif -%}
      

      
      

      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label1:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label2:' -%}
            <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
          {%- endif -%}
        {%- endfor -%}

        {%- if settings.show_discount -%}
          {%- assign savings = 0 -%}

          {%- if settings.discount_mode == 'percentage' -%}
            {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
          {%- else -%}
            {%- capture savings -%}<span>{{ selected_variant.compare_at_price | minus: selected_variant.price | money_without_trailing_zeros }}</span>{%- endcapture -%}
          {%- endif -%}

          <span class="product-label product-label--on-sale" {% unless selected_variant.price < selected_variant.compare_at_price %}style="display: none"{% endunless %}>{{ 'collection.product.discount_html' | t: savings: savings }}</span>
        {%- endif -%}
      {%- endcapture -%}

      {%- if product_labels != blank -%}
        <div class="product-meta__label-list">
          {{- product_labels -}}
        </div>
      {%- endif -%}

      
<table style="width:100%; margin-top: 10px; margin-bottom: 10px">
   <tr>
      <th style="text-align: left; width: 55px;">
         <div class="product-form__info-item">
            <div class="product-form__info-content">
               <div class="price-list">
                  {%- if selected_variant.compare_at_price > selected_variant.price -%}
                  <span class="price price--highlight">{{ selected_variant.price | money_without_trailing_zeros }}</span>
                  <span class="price price--compare">{{ selected_variant.compare_at_price | money_without_trailing_zeros }}</span>
                  {%- else -%}
                  <span class="price" style="margin-right: 10px">{{ selected_variant.price | money_without_trailing_zeros }}</span>
                  {%- endif -%}
               </div>
               <div class="product-form__price-info" style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}">
                  <div class="unit-price-measurement">
                     <span class="unit-price-measurement__price">{{ selected_variant.unit_price | money_without_trailing_zeros }}</span>
                     <span class="unit-price-measurement__separator">/ </span>
                     {%- if selected_variant.unit_price_measurement.reference_value != 1 -%}
                     <span class="unit-price-measurement__reference-value">{{ selected_variant.unit_price_measurement.reference_value }}</span>
                     {%- endif -%}
                     <span class="unit-price-measurement__reference-unit">{{ selected_variant.unit_price_measurement.reference_unit }}</span>
                  </div>
               </div>
               {%- if section.settings.show_taxes_included -%}
               {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
               <p class="product-form__price-info">
                  {%- if shop.taxes_included -%}
                  {{ 'product.general.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
               </p>
               {%- endif -%}
               {%- endif -%}
            </div>
         </div>
      </th>
      <td style="line-height:0.9!important">

        <span class="price" style="font-size: 12px; margin-left:0px">
          {%- if settings.cart_show_free_shipping_threshold -%}
          & USA Free Shipping <span class="money">${{ settings.cart_free_shipping_threshold }}</span>+</span><br>
          {%- endif -%}
          {%- if settings.settings.afterpay_enabled -%}
            {%- if selected_variant.price > 3500 -%}
              <span class="price" style="font-size: 12px; margin-left:0px"> Pay over time with <strong>Afterpay</strong></span>
            {%- else -%}
              <span class="price" style="font-size: 12px; margin-left:0px"> Pay in 4 installments over $35 with <strong>Afterpay</strong>
            </span>
          {%- endif -%}
        {%- endif -%}
      </td>
   </tr>
</table>      
      
    


      
      {%- if section.settings.show_vendor or section.settings.show_sku and selected_variant.sku != blank -%}
        <div class="product-meta__reference">
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
              <a class="product-meta__vendor link link--accented" href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
            {%- else -%}
              <a class="product-meta__vendor link link--accented" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
            {%- endunless -%}
          {%- endif -%}

          {%- if section.settings.show_sku and selectedf_variant.sku != blank -%}
            <span class="product-meta__sku">
              {{- 'product.general.sku' | t -}} <span class="product-meta__sku-number">{{ selected_variant.sku }}</span>
            </span>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if section.settings.show_reviews_badge -%}
			{% render 'okendo-reviews-product-rating-summary', product: product %}
      {%- endif -%}

      {%- if section.settings.show_share_buttons -%}
        <div class="product-meta__share-buttons hidden-phone">
          {{ share_buttons }}
        </div>
      {%- endif -%}
    </div>



    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart == false -%}
      <div class="product-meta__description rte">
        {{ product.description | remove: 'data-section-type="product"' }}
      </div>
    {%- endif -%}


</div>
  
  
